html
  head
    title Minimal Private Chat
    meta(name='description', content='Home page')
    link#favicon(rel='icon', href='https://hyperdev.com/favicon-app.ico', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.14.0/css/all.css", integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc", crossorigin="anonymous")
  body.flex-col
    h1 Minimalist Private Chat
    div.flex-row-space
      if showLogin
      div.reglog.flex-col
        div Login
        form(action='/login', method='post')
          input(type='text', name='username', placeholder='Username', required)
          input(type='password', name='password', placeholder='Password', required)
          input(type='submit', value='Log In')
      if showRegistration
        div.reglog.flex-col
          div Register
          form(action='/register', method='post')
            input(type='text', name='username', placeholder='Username', required)
            input(type='password', name='password', placeholder='Password', required)
            input(type='submit', value='Register')
    h4 Login with your Google or GitHub account!
    div.flex-row
      a(href='/auth/github')
        i.fab.fa-github.fa-3x
      a(href='/auth/google')
        i.fab.fa-google.fa-3x  