* {
  box-sizing: border-box;
}

body {
  background:white;
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5em;
}

h1 {
  color: grey;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  padding: 1em;
  width:100%;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border-radius: .25em;
  
}

button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  margin-bottom:25px;
}

 button:hover {
  background-color: lavender;
}

a{
  text-decoration: none;
  color: grey;
}
a:hover{
  color:black;
}

i{
  color: #bbbbf2;
  padding:20px;
}
i:hover{
  color: lavender;
}
.flex-row-space{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}
.flex-row{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  
}

.flex-col{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.chat-box{
  width:10%;
  height:80%;
  font-size:12px;
  border:1px solid grey;
  border-radius:10px;
  box-shadow:2px 2px 10px 5px grey;
}

.reglog {
  border: 1px solid black;
  width:15vw;
  background-color: lavender;
}

#messages { 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}

#messages li { 
  padding: 5px 10px;
}

#messages li:nth-child(odd) {   
  background: #eee;
}